/* 全局 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: '微软雅黑';
    color: #14191e;
}



.screen-5{
    height: 900px;
    background: #f9f9f9;
}
.screen-5__wrap {
    width: 1200px;
    height: 900px;
    margin: 0 auto;
    position: relative;
}
.screen-5__title{
    margin: 0;
    font-size: 28px;
    line-height: 28px;
    color: #2c2926;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.screen-5__tip{
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background: #f08305;
    z-index: 2;
}
.screen-5__tip_2{
    margin: 0 auto;
    width: 120px;
    height: 1px;
    background: #e2deda;
    z-index: 1;
}

.screen-5__schools {
    position: relative;
    overflow: hidden;
    width: 1200px;
    height: 560px;
    margin-top: 80px;

}

.screen-5_school__item_tip{
    float: left;
    height: 435px;
    width: 2px;
    background:  #d6d6d6;
}
.screen-5_school__item_tip_active{
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 30px;
    background:  #f08305;
}

.screen-5__school__menu {
    float: left;
    width: 112px;
    height: 435px;
}

.screen-5__school__menu_item {
    padding: 7px 24px;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 15px;
}

.screen-5__school__menu_item:nth-child(1){
    color: #f08305;
}

.screen-5__school__menu_item a {
    display: block;
    font-size: 16px;
    position: relative;
    padding: 0 8px;
}

/* 二级菜单 */
.screen-5__school__intro {
    position: absolute;
    z-index: 500;
    top: 0;
    right: 0;
    width: 900px;
    height: 560px;
}

.screen-5__school__inner_box {
    width: 900px;
    height: 560px;
    background: #eaeaea;
    text-align: center;
    font-size: 60px;
}
.screen-5__school__inner_box:nth-child(1){
    background: none;
}
.screen-5__school__pic_1{
    float: left;
    width: 438px;
    height: 298px;
    background: #eaeaea;
    border-radius: 5px;
}
.screen-5__school__pic_2{
    float: right;
    width: 438px;
    height: 298px;
    background: #eaeaea;
    border-radius: 5px;
}
.screen-5__school__des{
    float: left;
    width: 900px;
    font-size: 12px;
    color: #747372;
    text-align: left;
    padding-top: 30px;
    line-height: 24px;
}

.screen-5__school__subdes {
    float: left;
    width: 900px;
    font-size: 12px;
    color: #747372;
    text-align: left;
    padding-top: 30px;
    line-height: 24px;
}

.screen-5__school__btn{
    position: absolute;
    border: 2px solid #f08305;
    color: #f08305;
    text-align: center;
    width: 90px;
    border-radius: 30px;
    padding: 16px 25px;
    font-size: 16px;
    bottom: 0;
    cursor: pointer;
}